---
http_interactions:
- request:
    method: post
    uri: http://api.iugu.dev/v1/customers
    body:
      encoding: UTF-8
      string: '{"email":"john.snow@greatwall.com","name":"John Snow"}'
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/customer#create
      Etag:
      - '"137c66179d909ebd1c43195df620371f"'
    body:
      encoding: UTF-8
      string: '{"id":"E2CDC5A53FC845E6A88DF6C50672E963","email":"john.snow@greatwall.com","name":"John
        Snow","notes":null,"created_at":"2017-11-29T16:45:28-02:00","updated_at":"2017-11-29T16:45:28-02:00","cc_emails":null,"cpf_cnpj":null,"zip_code":null,"number":null,"complement":null,"default_payment_method_id":null,"proxy_payments_from_customer_id":null,"city":null,"state":null,"district":null,"street":null,"custom_variables":[]}'
  recorded_at: Wed, 29 Nov 2017 18:45:28 GMT
recorded_with: VCR 3.0.3
