---
http_interactions:
- request:
    method: post
    uri: http://api.iugu.dev/v1/customers
    body:
      encoding: UTF-8
      string: '{"email":"john.snow@greatwall.com","name":"John Snow","notes":"knows
        nothing"}'
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/customer#create
      Etag:
      - '"cf150335461db6b05bf957184f72d8c6"'
    body:
      encoding: UTF-8
      string: '{"id":"C3500EFB3B4C4EB4849FA209A9558A40","email":"john.snow@greatwall.com","name":"John
        Snow","notes":"knows nothing","created_at":"2017-11-30T14:04:49-02:00","updated_at":"2017-11-30T14:04:49-02:00","cc_emails":null,"cpf_cnpj":null,"zip_code":null,"number":null,"complement":null,"default_payment_method_id":null,"proxy_payments_from_customer_id":null,"city":null,"state":null,"district":null,"street":null,"custom_variables":[]}'
  recorded_at: Thu, 30 Nov 2017 16:04:49 GMT
recorded_with: VCR 3.0.3
