---
http_interactions:
- request:
    method: post
    uri: http://api.iugu.dev/v1/customers
    body:
      encoding: UTF-8
      string: '{"email":"john.snow@greatwall.com","name":"John Snow","cpf_cnpj":"57.202.023/6256-27"}'
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/customer#create
      Etag:
      - '"764c8db1f1b40940b4f13f8f33987a3c"'
    body:
      encoding: UTF-8
      string: '{"id":"91E5991EC8D746129910794C518A4D60","email":"john.snow@greatwall.com","name":"John
        Snow","notes":null,"created_at":"2017-11-30T13:59:23-02:00","updated_at":"2017-11-30T13:59:23-02:00","cc_emails":null,"cpf_cnpj":"57.202.023/6256-27","zip_code":null,"number":null,"complement":null,"default_payment_method_id":null,"proxy_payments_from_customer_id":null,"city":null,"state":null,"district":null,"street":null,"custom_variables":[]}'
  recorded_at: Thu, 30 Nov 2017 15:59:23 GMT
recorded_with: VCR 3.0.3
