---
http_interactions:
- request:
    method: post
    uri: http://api.iugu.dev/v1/payment_token
    body:
      encoding: UTF-8
      string: '{"account_id":"F17761200EC74469823D469BF2B211AC","method":"credit_card","test":"true","data":{"number":"4111111111111111","verification_value":"123","first_name":"Walter","last_name":"White","month":"02","year":"2020"}}'
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/payment_token#create
    body:
      encoding: UTF-8
      string: '{"id":"8E7844B275624C5BAA33A7A542F8DFE7","method":"credit_card","extra_info":{"brand":"VISA","holder_name":"Walter
        White","display_number":"XXXX-XXXX-XXXX-1111","bin":"411111","month":2,"year":2020},"test":false}'
  recorded_at: Mon, 08 Jan 2018 18:57:17 GMT
- request:
    method: post
    uri: http://api.iugu.dev/v1/charge
    body:
      encoding: UTF-8
      string: '{"token":"8E7844B275624C5BAA33A7A542F8DFE7","payer":{"name":"Awesome
        Customer","cpf_cnpj":"15111975000164","address":{"zip_code":"29190560","number":"100"}},"items":[[{"quantity":1,"price_cents":5000,"description":"item
        1"}]],"currency":"BRL","months":3,"email":"example@example.example"}'
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/charge#charge
      Etag:
      - '"4fce31ee7efb585f424b96b85f264a2e"'
    body:
      encoding: UTF-8
      string: '{"message":"Autorizado","errors":{},"success":true,"url":"http://faturas.iugu.dev/85b6dcc7-d1fe-4ebb-94b4-cdc80391f390-4e45","pdf":"http://faturas.iugu.dev/85b6dcc7-d1fe-4ebb-94b4-cdc80391f390-4e45.pdf","identification":null,"invoice_id":"85B6DCC7D1FE4EBB94B4CDC80391F390","LR":"00"}'
  recorded_at: Mon, 08 Jan 2018 18:57:18 GMT
- request:
    method: get
    uri: http://api.iugu.dev/v1/invoices/85B6DCC7D1FE4EBB94B4CDC80391F390
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/invoice#show
      Etag:
      - '"79f8a81fbf56f4f2fd389be6adee7c04"'
    body:
      encoding: UTF-8
      string: '{"id":"85B6DCC7D1FE4EBB94B4CDC80391F390","due_date":"2018-01-08","currency":"BRL","discount_cents":null,"email":"example@example.example","items_total_cents":5000,"notification_url":null,"return_url":null,"status":"paid","tax_cents":null,"updated_at":"2018-01-08T16:57:18-02:00","total_cents":5000,"total_paid_cents":5000,"paid_at":"2018-01-08T16:57:18-02:00","taxes_paid_cents":255,"paid_cents":5000,"cc_emails":null,"financial_return_date":"2018-02-07","payable_with":"credit_card","overpaid_cents":null,"ignore_due_email":true,"ignore_canceled_email":true,"advance_fee_cents":null,"commission_cents":0,"early_payment_discount":false,"secure_id":"85b6dcc7-d1fe-4ebb-94b4-cdc80391f390-4e45","secure_url":"http://faturas.iugu.dev/85b6dcc7-d1fe-4ebb-94b4-cdc80391f390-4e45","customer_id":null,"customer_ref":null,"customer_name":null,"user_id":null,"total":"R$
        50,00","taxes_paid":"R$ 2,55","total_paid":"R$ 50,00","total_overpaid":"R$
        0,00","commission":"R$ 0,00","fines_on_occurrence_day":"R$ 0,00","total_on_occurrence_day":"R$
        50,00","fines_on_occurrence_day_cents":0,"total_on_occurrence_day_cents":5000,"advance_fee":null,"paid":"R$
        50,00","interest":null,"discount":null,"created_at":"08/01, 16:57 h","refundable":true,"installments":"3","transaction_number":51959,"payment_method":"iugu_credit_card","created_at_iso":"2018-01-08T16:57:17-02:00","updated_at_iso":"2018-01-08T16:57:18-02:00","occurrence_date":"2018-01-08","financial_return_dates":[{"id":32,"installment":1,"return_date":"2018-02-07","status":"pending","amount":"R$
        15,83","taxes":"R$ 0,85","executed_date":null,"advanced":false},{"id":33,"installment":2,"return_date":"2018-03-09","status":"pending","amount":"R$
        15,81","taxes":"R$ 0,85","executed_date":null,"advanced":false},{"id":34,"installment":3,"return_date":"2018-04-08","status":"pending","amount":"R$
        15,81","taxes":"R$ 0,85","executed_date":null,"advanced":false}],"bank_slip":null,"items":[{"id":"AEB23F89C5F74466908375C3FC9F0012","description":"item
        1","price_cents":5000,"quantity":1,"created_at":"2018-01-08T16:57:17-02:00","updated_at":"2018-01-08T16:57:17-02:00","price":"R$
        50,00"}],"early_payment_discounts":[],"variables":[{"id":"56E1710F0B9745D9A0F084D67BDE6CA4","variable":"payer.address.number","value":"100"},{"id":"6580EE333255413B8EF582BD32B48836","variable":"payer.address.state","value":"SP"},{"id":"8EC59559EBE44C1DA7C31B0B066FA3E3","variable":"payer.address.zip_code","value":"29190560"},{"id":"021B023CFC2F45289D5F2E1E4EAD6BF7","variable":"payer.cpf_cnpj","value":"15111975000164"},{"id":"CACFC5D4F1324E5AA8486CECD55B2505","variable":"payer.name","value":"Awesome
        Customer"},{"id":"476C0D09056F4F6ABF9CBA00CEC6217C","variable":"payment_data.arp","value":"00000"},{"id":"5869451F45ED412280C8C8DA64F89B14","variable":"payment_data.installments","value":"3"},{"id":"39B5FAEBB4114B249C1EB298932CDEB6","variable":"payment_data.nsu","value":"00000"},{"id":"5B69DDB17C9C49CEABDBDD38A164E3E5","variable":"payment_data.transaction_id","value":"00000000000000000001"},{"id":"E960864EBA1F4995A280F622D1A12DFE","variable":"payment_data.transaction_number","value":"51959"},{"id":"08E99523D31941BCB3244A7D2D2222E7","variable":"payment_method","value":"iugu_credit_card"}],"custom_variables":[],"logs":[{"id":"F0786E4080EE44A0AC19CE5083D7972F","description":"Email
        de Recibo enviado!","notes":"Recibo enviado com sucesso para: example@example.example","created_at":"08/01,
        16:57 h"},{"id":"4C9F4EBA7DCF46E396484A2D32BBC58A","description":"Fatura paga
        com sucesso!","notes":"Fatura paga com Cart\u00e3o de Cr\u00e9dito por:  LR:
        00","created_at":"08/01, 16:57 h"}]}'
  recorded_at: Mon, 08 Jan 2018 18:57:18 GMT
recorded_with: VCR 3.0.3
