---
http_interactions:
- request:
    method: post
    uri: http://api.iugu.dev/v1/payment_token
    body:
      encoding: UTF-8
      string: '{"account_id":"842C5942D8E34372A8E554A1BC959086","method":"credit_card","test":"true","data":{"number":"4111111111111111","verification_value":"123","first_name":"Walter","last_name":"White","month":"02","year":"2020"}}'
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/payment_token#create
    body:
      encoding: UTF-8
      string: '{"id":"BFD39B6A35294588862EFC7CE61D2C1E","method":"credit_card","extra_info":{"brand":"VISA","holder_name":"Walter
        White","display_number":"XXXX-XXXX-XXXX-1111","bin":"411111","month":2,"year":2020},"test":false}'
  recorded_at: Thu, 04 Jan 2018 16:39:10 GMT
- request:
    method: post
    uri: http://api.iugu.dev/v1/charge
    body:
      encoding: UTF-8
      string: '{"token":"BFD39B6A35294588862EFC7CE61D2C1E","payer":{"name":"Awesome
        Customer","cpf_cnpj":"15111975000164","address":{"zip_code":"29190560","number":"100"}},"items":[[{"quantity":1,"price_cents":5000,"description":"item
        1"}]],"currency":"BRL","email":"example@example.example"}'
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/charge#charge
      Etag:
      - '"a5f6362f0a57f0175d5c753b379b120d"'
    body:
      encoding: UTF-8
      string: '{"message":"Autorizado","errors":{},"success":true,"url":"http://faturas.iugu.dev/1192ed06-3ba3-40e3-98be-9cca35ac0bd1-4ee6","pdf":"http://faturas.iugu.dev/1192ed06-3ba3-40e3-98be-9cca35ac0bd1-4ee6.pdf","identification":null,"invoice_id":"1192ED063BA340E398BE9CCA35AC0BD1","LR":"00"}'
  recorded_at: Thu, 04 Jan 2018 16:39:12 GMT
recorded_with: VCR 3.0.3
