---
http_interactions:
- request:
    method: get
    uri: http://api.iugu.dev/v1/invoices
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/invoice#index
      Etag:
      - '"0801aa5f1f7ebcd924937267ad7db825"'
    body:
      encoding: UTF-8
      string: '{"facets":{"late":{"_type":"filter","count":0},"status":{"_type":"terms","missing":0,"other":0,"terms":[{"term":"pending","count":3},{"term":"paid","count":2}],"total":5}},"totalItems":5,"items":[{"id":"81CCCE997C034F38AC378F1481CA5AA3","due_date":"2017-11-30","currency":"BRL","discount_cents":null,"email":"homer@simpsom.com","notification_url":null,"return_url":null,"status":"pending","tax_cents":null,"updated_at":"2017-11-30T23:42:06-02:00","total_cents":9900,"total_paid_cents":0,"paid_at":null,"taxes_paid_cents":null,"paid_cents":null,"cc_emails":null,"payable_with":"all","overpaid_cents":null,"ignore_due_email":null,"ignore_canceled_email":null,"advance_fee_cents":null,"commission_cents":null,"early_payment_discount":false,"secure_id":"81ccce99-7c03-4f38-ac37-8f1481ca5aa3-ba5e","secure_url":"http://faturas.iugu.dev/81ccce99-7c03-4f38-ac37-8f1481ca5aa3-ba5e","customer_id":null,"customer_ref":null,"customer_name":null,"user_id":null,"total":"R$
        99,00","taxes_paid":"R$ 0,00","total_paid":"R$ 0,00","total_overpaid":"R$
        0,00","commission":"R$ 0,00","fines_on_occurrence_day":null,"total_on_occurrence_day":null,"fines_on_occurrence_day_cents":null,"total_on_occurrence_day_cents":null,"financial_return_date":null,"advance_fee":null,"paid":"R$
        0,00","interest":null,"discount":null,"created_at":"30/11, 23:42 h","refundable":null,"installments":null,"transaction_number":29093806,"payment_method":null,"created_at_iso":"2017-11-30T23:42:06-02:00","updated_at_iso":"2017-11-30T23:42:06-02:00","occurrence_date":null,"financial_return_dates":null,"bank_slip":null,"items":[{"id":"CC4FF2290F024A059C9CFBC3C8004633","description":"Rosquinha","price_cents":100,"quantity":99,"created_at":"2017-11-30T23:42:06-02:00","updated_at":"2017-11-30T23:42:06-02:00","price":"R$
        1,00"}],"early_payment_discounts":[],"variables":[{"id":"0E32ED167B38433E8050FF457E1BFE5D","variable":"payment_data.transaction_number","value":"29093806"}],"custom_variables":[],"logs":[{"id":"3662A9FCD09F4A0E856D44AB32CB4F28","description":"Due
        email sent!","notes":"Successfully sent due to: homer@simpsom.com","created_at":"30/11,
        23:42 h"}]},{"id":"2D7B949C2344436E8AA50CAEA0FDFCE5","due_date":"2017-11-30","currency":"BRL","discount_cents":null,"email":"homer@simpsom.com","notification_url":null,"return_url":null,"status":"pending","tax_cents":null,"updated_at":"2017-11-30T23:35:52-02:00","total_cents":9900,"total_paid_cents":0,"paid_at":null,"taxes_paid_cents":null,"paid_cents":null,"cc_emails":null,"payable_with":"all","overpaid_cents":null,"igno[...]
