---
http_interactions:
- request:
    method: get
    uri: http://api.iugu.dev/v1/plans
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/plan#index
      Etag:
      - '"3097e234d22258166bddd6807069bb7e"'
    body:
      encoding: UTF-8
      string: '{"totalItems":2,"items":[{"id":"FB088FDB05C14DFBB72AC087E00BB257","name":"Medium","identifier":"medium","interval":1,"interval_type":"months","created_at":"2017-11-30T15:07:51-02:00","updated_at":"2017-11-30T15:07:51-02:00","prices":[{"created_at":"2017-11-30T15:07:51-02:00","currency":"BRL","id":"B0EF069893084A9A8AE0C6BCBF1B3A5F","updated_at":"2017-11-30T15:07:51-02:00","value_cents":10000}],"features":[],"payable_with":"all"},{"id":"B71DC3FC46264C85B948AD9DC31F37C8","name":"basic","identifier":"basic","interval":1,"interval_type":"months","created_at":"2017-11-30T13:31:50-02:00","updated_at":"2017-11-30T13:31:50-02:00","prices":[{"created_at":"2017-11-30T13:31:50-02:00","currency":"BRL","id":"5E56F54EB7B6473A90857B3DB1AB7E72","updated_at":"2017-11-30T13:31:50-02:00","value_cents":10000}],"features":[],"payable_with":"all"}]}'
  recorded_at: Thu, 30 Nov 2017 17:10:19 GMT
recorded_with: VCR 3.0.3
