---
http_interactions:
- request:
    method: get
    uri: http://api.iugu.dev/v1/plans
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/plan#index
      Etag:
      - '"ec1b53fd6d9064aa15ddcd5b87d5cf39"'
    body:
      encoding: UTF-8
      string: '{"totalItems":2,"items":[{"id":"FE66F090BDAE475FA41295C232D92965","name":"Medium","identifier":"medium","interval":1,"interval_type":"months","created_at":"2017-11-30T15:24:37-02:00","updated_at":"2017-11-30T15:24:37-02:00","prices":[{"created_at":"2017-11-30T15:24:37-02:00","currency":"BRL","id":"D9208488369B4F758764E073D8FC477E","updated_at":"2017-11-30T15:24:37-02:00","value_cents":10000}],"features":[],"payable_with":"all"},{"id":"B71DC3FC46264C85B948AD9DC31F37C8","name":"basic","identifier":"basic","interval":1,"interval_type":"months","created_at":"2017-11-30T13:31:50-02:00","updated_at":"2017-11-30T13:31:50-02:00","prices":[{"created_at":"2017-11-30T13:31:50-02:00","currency":"BRL","id":"5E56F54EB7B6473A90857B3DB1AB7E72","updated_at":"2017-11-30T13:31:50-02:00","value_cents":10000}],"features":[],"payable_with":"all"}]}'
  recorded_at: Thu, 30 Nov 2017 17:24:39 GMT
recorded_with: VCR 3.0.3
