---
http_interactions:
- request:
    method: get
    uri: http://api.iugu.dev/v1/plans/identifier/medium
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/plan#identifier
      Etag:
      - '"b94c3671f44be2722c146d5bad6c7bcc"'
    body:
      encoding: UTF-8
      string: '{"id":"FE66F090BDAE475FA41295C232D92965","name":"Medium","identifier":"medium","interval":1,"interval_type":"months","created_at":"2017-11-30T15:24:37-02:00","updated_at":"2017-11-30T15:24:37-02:00","prices":[{"created_at":"2017-11-30T15:24:37-02:00","currency":"BRL","id":"D9208488369B4F758764E073D8FC477E","plan_id":"FE66F090BDAE475FA41295C232D92965","updated_at":"2017-11-30T15:24:37-02:00","value_cents":10000}],"features":[],"payable_with":"all"}'
  recorded_at: Thu, 30 Nov 2017 17:24:41 GMT
recorded_with: VCR 3.0.3
