---
http_interactions:
- request:
    method: post
    uri: http://api.iugu.dev/v1/subscriptions
    body:
      encoding: UTF-8
      string: '{"plan_identifier":"basic","payable_with":"credit_card","customer_id":"8941A38AB8BF4BBAA595C0E03F379C9C","expires_at":"2018-01-10"}'
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/subscription#create
      Etag:
      - '"b544642aa8d0cde41763a5dcd28bcd9c"'
    body:
      encoding: UTF-8
      string: '{"id":"41B5A08947D1418E8C436B5EC837C498","suspended":false,"plan_identifier":"basic","price_cents":5000,"currency":"BRL","features":{},"expires_at":"2018-01-10","created_at":"2018-01-04T16:41:27-02:00","updated_at":"2018-01-04T16:41:27-02:00","customer_name":"Example","customer_email":"example@iugu.com","cycled_at":null,"credits_min":0,"credits_cycle":null,"payable_with":"credit_card","ignore_due_email":null,"customer_id":"8941A38AB8BF4BBAA595C0E03F379C9C","plan_name":"Basic","customer_ref":"Example","plan_ref":"Basic","active":true,"in_trial":null,"credits":0,"credits_based":false,"recent_invoices":[],"subitems":[],"logs":[{"id":"E511391F98E74678893C91900C93E094","description":"Assinatura
        Criada","notes":"Assinatura Criada ","created_at":"2018-01-04T16:41:27-02:00"}],"custom_variables":[]}'
  recorded_at: Thu, 04 Jan 2018 18:41:27 GMT
recorded_with: VCR 3.0.3
