---
http_interactions:
- request:
    method: get
    uri: http://api.iugu.dev/v1/subscriptions/1CBD18FA1E4B47C891EFD82EF4321BC4
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/subscription#show
      Etag:
      - '"7a5d8281d0c654979d598ec2a16d318a"'
    body:
      encoding: UTF-8
      string: '{"id":"1CBD18FA1E4B47C891EFD82EF4321BC4","suspended":false,"plan_identifier":"basic","price_cents":5000,"currency":"BRL","features":{"search":{"name":"Search","value":10}},"expires_at":null,"created_at":"2018-01-02T15:31:05-02:00","updated_at":"2018-01-02T15:31:05-02:00","customer_name":"Lucas
        Oliveira","customer_email":"lucas.oliveira+customer@iugu.com","cycled_at":null,"credits_min":0,"credits_cycle":null,"payable_with":"all","ignore_due_email":null,"customer_id":"524AB141252E44D3B2D006D8845DB261","plan_name":"Basic","customer_ref":"Lucas
        Oliveira","plan_ref":"Basic","active":true,"in_trial":null,"credits":0,"credits_based":false,"recent_invoices":[{"id":"A70B2BF20EA841C0AF02C132CABD78AA","due_date":"2018-01-02","status":"pending","total":"R$
        150,00","secure_url":"http://faturas.iugu.dev/a70b2bf2-0ea8-41c0-af02-c132cabd78aa-23fa"}],"subitems":[{"id":"3BABEA668F2542C7AD425B5C4149C2AE","description":"Rare
        Candy","quantity":1,"price_cents":10000,"recurrent":false,"price":"R$ 100,00","total":"R$
        100,00"}],"logs":[{"id":"15B80A6880C5404F9180042270BA900F","description":"Assinatura
        Criada","notes":"Assinatura Criada ","created_at":"2018-01-02T15:31:05-02:00"},{"id":"D0FE2B67670F490E9FDA902145678544","description":"Fatura
        criada","notes":"Fatura criada com os items:  1x Rare Candy = 100.00 BRL;1x
        Subscription Activation: Basic = 50.00 BRL;","created_at":"2018-01-02T15:31:05-02:00"}],"custom_variables":[{"name":"a","value":"b"}]}'
  recorded_at: Wed, 03 Jan 2018 19:08:16 GMT
[...]
