---
http_interactions:
- request:
    method: get
    uri: http://api.iugu.dev/v1/plans/identifier/medium
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/plan#identifier
      Etag:
      - '"32d944f027bfde437e7c7e88386e93b2"'
    body:
      encoding: UTF-8
      string: '{"id":"FE66F090BDAE475FA41295C232D92965","name":"Super Medium","identifier":"medium","interval":1,"interval_type":"months","created_at":"2017-11-30T15:24:37-02:00","updated_at":"2017-11-30T15:24:43-02:00","prices":[{"created_at":"2017-11-30T15:24:37-02:00","currency":"BRL","id":"D9208488369B4F758764E073D8FC477E","plan_id":"FE66F090BDAE475FA41295C232D92965","updated_at":"2017-11-30T15:24:43-02:00","value_cents":12000}],"features":[],"payable_with":"all"}'
  recorded_at: Thu, 30 Nov 2017 17:24:46 GMT
- request:
    method: delete
    uri: http://api.iugu.dev/v1/plans/FE66F090BDAE475FA41295C232D92965
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/plan#destroy
      Etag:
      - '"32d944f027bfde437e7c7e88386e93b2"'
    body:
      encoding: UTF-8
      string: '{"id":"FE66F090BDAE475FA41295C232D92965","name":"Super Medium","identifier":"medium","interval":1,"interval_type":"months","created_at":"2017-11-30T15:24:37-02:00","updated_at":"2017-11-30T15:24:43-02:00","prices":[{"created_at":"2017-11-30T15:24:37-02:00","currency":"BRL","id":"D9208488369B4F758764E073D8FC477E","plan_id":"FE66F090BDAE475FA41295C232D92965","updated_at":"2017-11-30T15:24:43-02:00","value_cents":12000}],"features":[],"payable_with":"all"}'
  recorded_at: Thu, 30 Nov 2017 17:24:46 GMT
- request:
    method: get
    uri: http://api.iugu.dev/v1/plans/FE66F090BDAE475FA41295C232D92965
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/plan#show
    body:
      encoding: UTF-8
      string: '{"errors":"Plan Not Found"}'
  recorded_at: Thu, 30 Nov 2017 17:24:46 GMT
recorded_with: VCR 3.0.3
