---
http_interactions:
- request:
    method: post
    uri: http://api.iugu.dev/v1/customers
    body:
      encoding: UTF-8
      string: '{"email":"john.snow@greatwall.com","name":"John Snow","cpf_cnpj":"648.144.103-01","cc_emails":"heisenberg@lospolloshermanos.com","zip_code":"29190560","number":"8","street":"Rua
        dos Bobos","city":"São Paulo","state":"SP","district":"Mooca","complement":"123C"}'
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/customer#create
      Etag:
      - '"3b9cc8aa50a4a43292dc3b7734c4333a"'
    body:
      encoding: UTF-8
      string: '{"id":"CEB3AD3DB1164649875A0ABEC25E8F6E","email":"john.snow@greatwall.com","name":"John
        Snow","notes":null,"created_at":"2017-11-30T14:39:29-02:00","updated_at":"2017-11-30T14:39:29-02:00","cc_emails":"heisenberg@lospolloshermanos.com","cpf_cnpj":"648.144.103-01","zip_code":"29190560","number":"8","complement":"123C","default_payment_method_id":null,"proxy_payments_from_customer_id":null,"city":null,"state":"SP","district":"Mooca","street":"Rua
        dos Bobos","custom_variables":[]}'
  recorded_at: Thu, 30 Nov 2017 16:39:29 GMT
- request:
    method: put
    uri: http://api.iugu.dev/v1/customers/CEB3AD3DB1164649875A0ABEC25E8F6E
    body:
      encoding: UTF-8
      string: '{"name":"John Targaryen","cc_emails":"kalise@lovedragons.com","zip_code":"13058676","number":"+9000","complement":"321A","district":"Tatuapé","street":"Rua
        Rio Palmital","cnpj":"24.357.272/7919-90"}'
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/customer#update
      Etag:
      - '"edd4c33431273f021aa92338a1bf4a9e"'
    body:
      encoding: UTF-8
      string: '{"id":"CEB3AD3DB1164649875A0ABEC25E8F6E","email":"john.snow@greatwall.com","name":"John
        Targaryen","notes":null,"created_at":"2017-11-30T14:39:29-02:00","updated_at":"2017-11-30T14:39:30-02:00","cc_emails":"kalise@lovedragons.com","cpf_cnpj":"648.144.103-01","zip_code":"13058676","number":"+9000","complement":"321A","default_payment_method_id":null,"proxy_payments_from_customer_id":null,"city":null,"state":null,"district":"Tatuap\u00e9","street":"Rua
        Rio Palmital","custom_variables":[]}'
  recorded_at: Thu, 30 Nov 2017 16:39:30 GMT
- request:
    method: get
    uri: http://api.iugu.dev/v1/customers/CEB3AD3DB1164649875A0ABEC25E8F6E
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/customer#show
      Etag:
      - '"edd4c33431273f021aa92338a1bf4a9e"'
    body:
      encoding: UTF-8
      string: '{"id":"CEB3AD3DB1164649875A0ABEC25E8F6E","email":"john.snow@greatwall.com","name":"John
        Targaryen","notes":null,"created_at":"2017-11-30T14:39:29-02:00","updated_at":"2017-11-30T14:39:30-02:00","cc_emails":"kalise@lovedragons.com","cpf_cnpj":"648.144.103-01","zip_code":"13058676","number":"+9000","complement":"321A","default_payment_method_id":null,"proxy_payments_from_customer_id":null,"city":null,"state":null,"district":"Tatuap\u00e9","street":"Rua
        Rio Palmital","custom_variables":[]}'
  recorded_at: Thu, 30 Nov 2017 16:39:30 GMT
recorded_with: VCR 3.0.3
