---
http_interactions:
- request:
    method: get
    uri: http://api.iugu.dev/v1/customers
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/customer#index
      Etag:
      - '"b87c10942426fa38ccbb8e1242dd691e"'
    body:
      encoding: UTF-8
      string: '{"totalItems":15,"items":[{"id":"2D3309067D0047B7AD55F38EBA0BA406","email":"john.snow@greatwall.com","name":"John
        Snow","notes":null,"created_at":"2017-11-30T13:21:10-02:00","updated_at":"2017-11-30T13:21:10-02:00","cc_emails":null,"cpf_cnpj":null,"zip_code":null,"number":null,"complement":null,"default_payment_method_id":null,"proxy_payments_from_customer_id":null,"city":null,"state":null,"district":null,"street":null,"custom_variables":[]},{"id":"18F6EE8B11524122AB317D9009CD8DE0","email":"john.snow@greatwall.com","name":"John
        Snow","notes":null,"created_at":"2017-11-30T13:20:53-02:00","updated_at":"2017-11-30T13:20:53-02:00","cc_emails":null,"cpf_cnpj":null,"zip_code":null,"number":null,"complement":null,"default_payment_method_id":null,"proxy_payments_from_customer_id":null,"city":null,"state":null,"district":null,"street":null,"custom_variables":[]},{"id":"E2CDC5A53FC845E6A88DF6C50672E963","email":"john.snow@greatwal[...]
