---
http_interactions:
- request:
    method: get
    uri: http://api.iugu.dev/v1/customers/2D3309067D0047B7AD55F38EBA0BA406
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/customer#show
      Etag:
      - '"ff6db8a5ca813d1a0b29b65fe142a2f3"'
    body:
      encoding: UTF-8
      string: '{"id":"2D3309067D0047B7AD55F38EBA0BA406","email":"john.snow@greatwall.com","name":"John
        Snow","notes":null,"created_at":"2017-11-30T13:21:10-02:00","updated_at":"2017-11-30T13:21:10-02:00","cc_emails":null,"cpf_cnpj":null,"zip_code":null,"number":null,"complement":null,"default_payment_method_id":null,"proxy_payments_from_customer_id":null,"city":null,"state":null,"district":null,"street":null,"custom_variables":[]}'
  recorded_at: Thu, 30 Nov 2017 16:21:01 GMT
recorded_with: VCR 3.0.3
