---
http_interactions:
- request:
    method: post
    uri: http://api.iugu.dev/v1/customers
    body:
      encoding: UTF-8
      string: '{"email":"john.snow@greatwall.com","name":"John Snow","cpf_cnpj":"648.144.103-01","cc_emails":"heisenberg@lospolloshermanos.com","zip_code":"29190560","number":"8","street":"Rua
        dos Bobos","city":"São Paulo","state":"SP","district":"Mooca","complement":"123C"}'
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/customer#create
      Etag:
      - '"40f47494000db5937d9d64f9ab82455a"'
    body:
      encoding: UTF-8
      string: '{"id":"9289F000D8D44983BD9AB8DBF04FBE81","email":"john.snow@greatwall.com","name":"John
        Snow","notes":null,"created_at":"2017-11-30T14:43:43-02:00","updated_at":"2017-11-30T14:43:43-02:00","cc_emails":"heisenberg@lospolloshermanos.com","cpf_cnpj":"648.144.103-01","zip_code":"29190560","number":"8","complement":"123C","default_payment_method_id":null,"proxy_payments_from_customer_id":null,"city":null,"state":"SP","district":"Mooca","street":"Rua
        dos Bobos","custom_variables":[]}'
  recorded_at: Thu, 30 Nov 2017 16:43:43 GMT
- request:
    method: delete
    uri: http://api.iugu.dev/v1/customers/9289F000D8D44983BD9AB8DBF04FBE81
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/customer#destroy
      Etag:
      - '"40f47494000db5937d9d64f9ab82455a"'
    body:
      encoding: UTF-8
      string: '{"id":"9289F000D8D44983BD9AB8DBF04FBE81","email":"john.snow@greatwall.com","name":"John
        Snow","notes":null,"created_at":"2017-11-30T14:43:43-02:00","updated_at":"2017-11-30T14:43:43-02:00","cc_emails":"heisenberg@lospolloshermanos.com","cpf_cnpj":"648.144.103-01","zip_code":"29190560","number":"8","complement":"123C","default_payment_method_id":null,"proxy_payments_from_customer_id":null,"city":null,"state":"SP","district":"Mooca","street":"Rua
        dos Bobos","custom_variables":[]}'
  recorded_at: Thu, 30 Nov 2017 16:43:43 GMT
- request:
    method: get
    uri: http://api.iugu.dev/v1/customers/9289F000D8D44983BD9AB8DBF04FBE81
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/customer#show
    body:
      encoding: UTF-8
      string: '{"errors":"Customer Not Found"}'
  recorded_at: Thu, 30 Nov 2017 16:43:43 GMT
recorded_with: VCR 3.0.3
