---
http_interactions:
- request:
    method: post
    uri: http://api.iugu.dev/v1/payment_token
    body:
      encoding: UTF-8
      string: '{"account_id":"","method":"credit_card","test":"true","data":{"number":"4111111111111111","verification_value":"123","first_name":"Walter","last_name":"White","month":"02","year":"2020"}}'
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/payment_token#create
    body:
      encoding: UTF-8
      string: '{"id":"2FE3DC4627AC4C3588239F6C9C0C283F","method":"credit_card","extra_info":{"brand":"VISA","holder_name":"Walter
        White","display_number":"XXXX-XXXX-XXXX-1111","bin":"411111","month":2,"year":2020},"test":false}'
  recorded_at: Thu, 04 Jan 2018 16:26:35 GMT
recorded_with: VCR 3.0.3
