---
http_interactions:
- request:
    method: post
    uri: http://api.iugu.dev/v1/plans
    body:
      encoding: UTF-8
      string: '{"name":"Medium","identifier":"medium","interval":"1","interval_type":"months","value_cents":"10000"}'
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/plan#create
      Etag:
      - '"fb34e4878ff1490077af93bd7ec1b291"'
    body:
      encoding: UTF-8
      string: '{"id":"FB088FDB05C14DFBB72AC087E00BB257","name":"Medium","identifier":"medium","interval":1,"interval_type":"months","created_at":"2017-11-30T15:07:51-02:00","updated_at":"2017-11-30T15:07:51-02:00","prices":[{"created_at":"2017-11-30T15:07:51-02:00","currency":"BRL","id":"B0EF069893084A9A8AE0C6BCBF1B3A5F","plan_id":"FB088FDB05C14DFBB72AC087E00BB257","updated_at":"2017-11-30T15:07:51-02:00","value_cents":10000}],"features":[],"payable_with":"all"}'
  recorded_at: Thu, 30 Nov 2017 17:07:51 GMT
recorded_with: VCR 3.0.3
