---
http_interactions:
- request:
    method: get
    uri: http://api.iugu.dev/v1/subscriptions/C09161223BE1467E9DC4F4DFCC5687DC
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/subscription#show
      Etag:
      - '"61d6de7eeb8118a0f1c5419e50f1a972"'
    body:
      encoding: UTF-8
      string: '{"id":"C09161223BE1467E9DC4F4DFCC5687DC","suspended":false,"plan_identifier":"basic","price_cents":5000,"currency":"BRL","features":{"search":{"name":"Search","value":10}},"expires_at":"2018-08-08","created_at":"2018-01-03T16:55:05-02:00","updated_at":"2018-01-03T16:55:05-02:00","customer_name":"Lucas
        Oliveira","customer_email":"lucas.oliveira+customer@iugu.com","cycled_at":null,"credits_min":0,"credits_cycle":null,"payable_with":"all","ignore_due_email":null,"customer_id":"524AB141252E44D3B2D006D8845DB261","plan_name":"Basic","customer_ref":"Lucas
        Oliveira","plan_ref":"Basic","active":true,"in_trial":null,"credits":0,"credits_based":false,"recent_invoices":[],"subitems":[],"logs":[{"id":"C26040EFFDDD4FB69523609141D7497F","description":"Assinatura
        Criada","notes":"Assinatura Criada ","created_at":"2018-01-03T16:55:05-02:00"}],"custom_variables":[]}'
  recorded_at: Wed, 03 Jan 2018 19:03:59 GMT
[...]
- request:
    method: get
    uri: http://api.iugu.dev/v1/subscriptions/C09161223BE1467E9DC4F4DFCC5687DC
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/subscription#show
    body:
      encoding: UTF-8
      string: '{"errors":"Subscription Not Found"}'
  recorded_at: Wed, 03 Jan 2018 19:04:00 GMT
recorded_with: VCR 3.0.3
