---
http_interactions:
- request:
    method: get
    uri: http://api.iugu.dev/v1/subscriptions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRfYXBpX3Rva2VuOg==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/subscription#index
      Etag:
      - '"38866d453e9be060baf1095820605cc0"'
    body:
      encoding: UTF-8
      string: '{"facets":{"due":{"_type":"filter","count":0},"active":{"_type":"filter","count":1},"suspended":{"_type":"filter","count":0}},"totalItems":2,"items":[{"id":"C09161223BE1467E9DC4F4DFCC5687DC","suspended":false,"plan_identifier":"basic","price_cents":5000,"currency":"BRL","features":{"search":{"name":"Search","value":10}},"expires_at":"2018-08-08","created_at":"2018-01-03T16:55:05-02:00","updated_at":"2018-01-03T16:55:05-02:00","customer_name":"Lucas
        Oliveira","customer_email":"lucas.oliveira+customer@iugu.com","cycled_at":null,"credits_min":0,"credits_cycle":null,"payable_with":"all","ignore_due_email":null,"customer_id":"524AB141252E44D3B2D006D8845DB261","plan_name":"Basic","customer_ref":"Lucas
        Oliveira","plan_ref":"Basic","active":true,"in_trial":null,"credits":0,"credits_based":false,"recent_invoices":null,"subitems":[],"logs":[{"id":"C26040EFFDDD4FB69523609141D7497F","description":"Subscription
        Created","notes":"Subscription Created ","created_at":"2018-01-03T16:55:05-02:00"}],"custom_variables":[]},{"id":"1CBD18FA1E4B47C891EFD82EF4321BC4","suspended":false,"plan_identifier":"basic","price_cents":5000,"currency":"BRL","features":{"search":{"name":"Search","value":10}},"expires_at":null,"created_at":"2018-01-02T15:31:05-02:00","updated_at":"2018-01-02T15:31:05-02:00","customer_name":"Lucas
        Oliveira","customer_email":"lucas.oliveira+customer@iugu.com","cycled_at":null,"credits_min":0,"credits_cycle":null,"payable_with":"all","ignore_due_email":null,"customer_id":"524AB141252E44D3B2D006D8845DB261","plan_name":"Basic","customer_ref":"Lucas
        Oliveira","plan_ref":"Basic","active":true,"in_trial":null,"credits":0,"credits_based":false,"recent_invoices":null,"subitems":[{"id":"3BABEA668F2542C7AD425B5C4149C2AE","description":"Rare
        Candy","quantity":1,"price_cents":10000,"recurrent":false,"price":"R$ 100,00","total":"R$
        100,00"}],"logs":[{"id":"15B80A6880C5404F9180042270BA900F","description":"Subscription
        Created","notes":"Subscription Created ","created_at":"2018-01-02T15:31:05-02:00"},{"id":"D0FE2B67670F490E9FDA902145678544","description":"Invoice
        created","notes":"Invoice created with items:  1x Rare Candy = 100.00 BRL;1x
        Subscription Activation: Basic = 50.00 BRL;","created_at":"2018-01-02T15:31:05-02:00"}],"custom_variables":[{"name":"a","value":"b"}]}]}'
  recorded_at: Wed, 03 Jan 2018 18:59:08 GMT
recorded_with: VCR 3.0.3
